.nice-input-upload .form-control-file {
    width: 100%;
    hegiht: 100%;
    visibility: hidden;
    cursor: pointer;
    position: relative;
    min-height: 6em;
}

.nice-input-upload .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    visibility: visible;
    width: 100%;
    border: 2px dashed lightgray;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    color: #6c757d;
    font-size: 1em;
    min-height: 6em;
    line-height: 2em;
    padding-top: 2em;
}
